
.portfolio {
    padding-top: 112.93px;
    padding-bottom: 96.07px;
    background-color:#f6f6f6;
}

.title-portfolio h2 {
    font-size: 34px;
    font-family: 'Gilroy-Bold', serif;
    line-height: 42px;
    color: #070707;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 47px;
}

.project-title {
    margin: 45px 0 0 0;
}

.project-title a {
    font-family: 'Gilroy-Medium', serif;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    font-weight: 500;
    color:black
}

.project {
    text-align: center;
}

.project + .project {
    margin-top: 99.08px;
}

.project-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title-1 {
    text-align: center;
}